#nav{
    background-color: #2e85bd;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: "Noto Sans";
    padding-right: 20px;
}

.bookmarkswrapper img.logo{
    max-width: 400px;
    margin-bottom: 2em;
    margin-top: 2em;
}

#nav .servername{
    font-family: "Noto Sans";
    font-size: 3em;
    color: white;
    font-weight: bolder;
    margin-top: 0.8em;
    text-transform: capitalize;
}
#nav img.valentin{
    margin-top: 300px;
    max-width: 300px ;
    align-self: center;
}

#grid-nav{
    grid-template-columns: 349px auto;
}


#content{
    display: flex;
    flex-direction: column;
    margin:0;
}
#content .navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0.25em 1em;
}

.navbar .news img{
    max-height: 32px;
}

.navbar .news img:hover{
    background-color: var(--color-hoverblue);    
}

#content .bookmarkswrapper{

    display: flex;
    flex-direction: column;
    align-items: center;
}

#content .bookmarks{
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    /*flex-grow: 2;*/
    flex-wrap: wrap;
    align-content: center;
}

#content .bookmarks a{
    text-decoration: none;
}

#content .bookmarks .cardlink{
    margin:20px;

}



#content .bookmarks .cardlink img{
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 4px rgba(0,0,0,0.2);
    transition: filter 0.3s;
}

#content .bookmarks .cardlink:hover img{
    filter: brightness(115%);
    transition: filter 0.3s;
}


#content .cardlink{
    position: relative;
}

#content .bookmarks .cardlink .cardname{
    margin-top: 10px;
    text-align: center;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 110px;
    white-space: nowrap;
    padding:4px 4px;
    transition: background-color 0.3s;
}

h1{
	text-align:center;
}

#content .bookmarks .cardlink .cardtooltip{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 1;
    transition: visibility 0.3s, opacity 0.3s;
    background-color: black;
    color: white;
    margin: 2px;
}
#content .bookmarks .cardlink:hover .cardtooltip{
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s;
}

#content .bookmarks .cardlink:hover .cardname{
    background-color: var(--color-hoverblue);
    transition: background-color 0.3s;
}


body{
    background-color: var(--color-cardboardgray);
}


@media (max-width: 1030px) {

    #grid-nav{
        grid-template-columns: 230px auto ;
    }

    #nav{
        max-width: 230px;
        padding-right: 10px;
    }

    #nav img.valentin{
        max-width: 120px ;
    }

    #nav .servername{
        font-size: 2em;
    }

    #content .bookmarks .cardlink img{
        width: 70px;
        height: 70px;
    }

    #content .bookmarks .cardlink .cardname{
        width: 70px;
    }
    .search input{
        height: 2em;
    }

    .dropbutton{
        font-size: 16px;
    }

}

