Source: lliurex-easy-sites
Section: utils
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders: Equipo LliureX <lliurex@gva.es>
Build-Depends: llxsrchelper,debhelper (>= 10), cdbs, python3-poinstaller,zero-dev
Standards-Version: 4.1.2

Package: lliurex-easy-sites
Architecture: all
PreDepends: n4d-server-plugins, gcp
Depends: ${misc:Depends}
Description: Contains lliurex-easy-sites
 This package contains the : lliurex-easy-sites 
 resources.
