[Desktop Entry]
Type=Service
MimeType=inode/directory;
Actions=createEasySite;

[Desktop Action createEasySite]
TryExec=/usr/sbin/lliurex-easy-sites
Exec=/usr/sbin/lliurex-easy-sites %f
Icon=lliurex-easy-sites

Name=Create Easy Site
Name[ca]=Crea un lloc web en el servidor
Name[ca@valencia]=Crea un lloc web en el servidor
Name[ca_ES@valencia]=Crea un lloc web en el servidor
Name[ca_ES.UTF-8@valencia]=Crea un lloc web en el servidor
Name[es]=Crear un sitio web en el servidor
Comment[ca]=Crea un lloc web en el servidor
Comment[ca@valencia]=Crea un lloc web en el servidor
Comment[ca_ES@valencia]=Crea un lloc web en el servidor
Comment[ca_ES.UTF-8@valencia]=Crea un lloc web en el servidor
Comment[es]=Crea un sitio web en el servidor


