	@define-color arc-blue #0062f5;
	@define-color arc-blue-light #4accf5;
	@define-color arc-black #2d323d;
	@define-color arc-red #000000;
	@define-color arc-blue-hover #629de2;
	@define-color arc-blue-active #3aa3e2;
	@define-color default-grey #666666;


	GtkLabel {
		font: 12pt Roboto;
	}
	
	#OPTION_LABEL {
		color: #707070;
		font: 11pt Roboto Light;

	}

	
	#SITE_NAME{
		color: #3366cc;
		font: 18pt Roboto Bold;


	}

	#SITE_AUTHOR{
		color: #000000;
		font: 10pt Roboto Bold;


	}


	#HEADER-LABEL
	{
	color: @arc-blue;
	font: 11pt Quattrocento Sans Bold;
	font-weight: bold;
	}	


	#SEPARATOR{
		
		background-color: @arc-blue;

	}

	#CONTENT-SEPARATOR{
		background-color:#b3b3b3;;

	}
	#WHITE_SEPARATOR{
		
		background-color: #ffffff;

	}

	#EDIT_ITEM_BUTTON {
			border-width: 5px;
			border-radius: 0px;
			padding: 0px 0px;
			box-shadow: none;
			border-color: #4784ed;
			
			color: white;
			background-image:-gtk-gradient (linear,	left top, left bottom, from (#4784ed),  to (#4784ed));
			text-shadow: none;
			
	}
		
	#EDIT_ITEM_BUTTON:hover {
		border-color: #7ea8f2;
		background-image:-gtk-gradient (linear,	left top, left bottom, from (#7ea8f2),  to (#7ea8f2));
		box-shadow: -0.5px 3px 3px #aaaaaa;
	}

	#WAITING_LABEL{

		color: #3366cc;
		font: 11pt Roboto Bold;
			
	}	

	#EDIT_LABEL{

		color: @arc-blue;
		/*color: #3366cc;*/
		font: 12pt Roboto Bold;
			
	}
	

	#MSG_ERROR_LABEL {

		color: #CC0000;
		font: 11pt Roboto Bold; 
	}
	
	#MSG_CORRECT_LABEL {
			color: #43a047;
			font: 11pt Roboto Bold;

	}
		
    #WINDOW{
		
		background-color: #ffffff;
		
	}

	
	#POPOVER_OFF {
		color: #707070;

	}	

	#POPOVER_ON{

		color: #3366cc;

	}

	#POPOVER_SEPARATOR{

		color: #b3b3b3;

	}

	
	#CUSTOM-ENTRY
	{
		color: @default-grey;
		border: 1px solid #aaaaaa;
		/*border-radius: 5px;*/
		/*background-color: @arc-blue;*/
		/*border-bottom: 1px solid #aaaaaa;*/
		padding: 4px;
		/*background: #eeeeee;*/
		
		/*border-bottom: 2px solid transparent;*/
	
	}

	#CUSTOM-ENTRY:focus
	{
		color: @arc-blue;
		border:1px solid @arc-blue-light;
		/*border-bottom: 1px solid @arc-blue-light;*/
		/*border-bottom: 2px solid rgba(0,0,0,0);*/
		/*background-color: transparent;*/
		
	
	}
	#CUSTOM-ENTRY:selected
	{
		color: white;
	}

	#CUSTOM-ENTRY:disabled
	{
		background-color: #bbbbbb;
		border:1px solid transparent;
		/*border-bottom: 1px solid transparent;*/
		color: #999999;
	}



	#IMAGE_BOX {
		/* t r b l*/
		border-color: red;
		margin: 0px;
		border-top: 0px;
		border-bottom: 0px;

		border-radius: 0px;
		border: none;
		box-shadow: none;

		background-color: #ffffff;

	}


	#IMAGE_BOX_HOVER {
		/*padding: 6px 6px 6px 6px;*/
		
		margin-left:0.5px;
		margin-right:0.5px;
		border-radius: 0px;
		
		border-color:transparent;
		background-color: #ffffff;
		/*box-shadow: -1px 0px -1px 8px @arc-blue;*/
		/*box-shadow: 0px 0px 10px @arc-blue;*/
		box-shadow: 0px 0px 6px @arc-blue;
		
	}

	#BANNER-BOX
	{

		background-color: #2e3d30;

	}

	#FEEDBACK_LABEL{

		color:#000000;
		font: 11pt Roboto Bold;
	}


	#ERROR_BOX{

		border-style:solid;
		border-width: 1px;
		border-radius: 0px;
		border-color:#da4453;
		background:#ebced2;
	}

	#HIDE_BOX{

		border-style:none;
		border-width: 0px;
		border-radius: 0px;
		border-color:transparent;
		background:transparent;
	}

	#SUCCESS_BOX{

		border-style:solid;
		border-width: 1px;
		border-radius: 0px;
		border-color:#27ae60;
		background:#c7e3d4;
	}
